



/* ----------navbar---------- */

#nav-group.fixed {
    position: fixed;
    z-index: 999;
}

.navbar{
    padding:30px 50px;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}

#nav-group{
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%,  rgba(0,0,0,0) 100%);
    font-size: 20px;
    position: absolute;
    width: 100%;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, .5);
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: rgba(0, 0, 0, .7);
}


@media(max-width:992px){
    .navbar{
        justify-content: center;

    }

    .navbar-brand{
        margin: auto;
    }

    .navbar-toggler{
        position: absolute;
        top: 50px;
        right: 20px;
    }
}


/* ----------banner---------- */
#banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* ----------about-us---------- */
#about-us {
    width: 100%;
    height: 100vh;
    background-image: url('../img/about.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

#about-us .mask {
    background-color: rgba(0, 0, 0, .5);
}

#about-us .mask .smallMask {
    background-color: rgba(0, 0, 0, .7);
}

#about-us img {
    width: 100%;
}

@media(max-width: 992px) {

    #about-us .smallMask {
        margin: 50px 0;
    }

    @media(max-width: 768px) {
        #about-us .smallMask {
            background-color: unset;
        }
    }

    #about-us {
        height: unset;
    }

}

/* ----------product-grill---------- */
#product-grill .title{
   padding-bottom: 50px;
}

#product-grill img {
    width: 100%;
}

#product-grill {
    width: 100%;
    padding: 150px 0 0 0;
    /* height: 1000px; */
}

@media(max-width: 992px) {
    #product-grill {
        height: unset;
    }

    #product-grill .card {
        margin: 20px 0;
    }

    @media(max-width: 768px) {
        #about-us .smallMask {
            background-color: unset;
        }

        #product-grill{
            padding-top: 100px;
        }
    }

    #about-us {
        height: unset;
    }

}

.container-fluid{
   padding: 0 60px;
}


/* ----------product-support---------- */
#product-support img {
    width: 100%;
}

#product-support .title{
padding-bottom: 50px;
}

#product-support{
    padding-top: 150px;
}



/* ----------tasty-recipes---------- */
#tasty-recipes{
width: 100%;
padding-top: 150px;
}

#tasty-recipes img{
    width: 100%;
}

#tasty-recipes .title{
    padding-bottom: 50px;
    }


#tasty-recipes .viewMore{
    margin-top: 100px;
}

#tasty-recipes .viewMore .title{
    padding: 10px 50px;
    font-size: 15px;
    border: 2px solid wheat; 
    color: wheat;
    border-radius: 25px;
    transition: .5s;
    font-weight: 600;
    letter-spacing: 1px;
}

#tasty-recipes .viewMore a{
    text-decoration: none;
}

#tasty-recipes .viewMore .title:hover{
    background: #009970;
    border: 2px solid #009970;
}


